.ps__thumb-x,
.ps__thumb-x:hover,
.ps__thumb-y,
.ps__thumb-y:hover {
  background: rgba(0, 0, 0, 0.3) !important;
}

.ps .ps__rail-x:hover,
.ps .ps__rail-y:hover,
.ps .ps__rail-x:focus,
.ps .ps__rail-y:focus,
.ps .ps__rail-x.ps--clicking,
.ps .ps__rail-y.ps--clicking {
  background: none;
  opacity: 1;
}

.swal2-html-container {
  font-weight: 300 !important;
}

.swal2-actions button {
  padding-left: 1.5rem !important;
  padding-right: 1.5rem !important;
  border-radius: 1.5rem !important;
}

.swal2-styled.swal2-confirm {
  background: var(--bs-primary) !important;
}

.ng-select {
  & .ng-select-container {
    border-radius: $border-radius;
  }

  .ng-arrow-wrapper {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: center;
    width: 16px;
    height: 12px;
    margin-right: 7px;

    & .ng-arrow {
      display: none !important;
    }
  }
}

// ngx-bootstrap
.bs-datepicker {
  border-radius: 5px;
  box-shadow: 0 0 7px #eee;
}

.bs-datepicker-container {
  padding: 0;
}

.theme-dark-blue .bs-datepicker-body table td span.selected,
.theme-dark-blue .bs-datepicker-body table td.selected span,
.theme-dark-blue .bs-datepicker-body table td span[class*="select-"]:after,
.theme-dark-blue .bs-datepicker-body table td[class*="select-"] span:after,
.theme-dark-blue .bs-datepicker-head {
  background: var(--bs-primary) !important;
}

.theme-dark-blue .bs-datepicker-body table td.week span {
  color: var(--bs-primary);
}

// amcharts logo
svg g[opacity="0.3"] {
  display: none !important;
}
