:root {
  --header-height: 3rem;
  --nav-width: 60px;
  --first-color: #2a6ac2;
  --first-color-light: #d9d5ec;
  --white-color: #f7f6fb;
  --z-fixed: 100;
}

html {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", "Roboto", "Nunito", sans-serif;
  font-size: 0.9rem;
  background-color: var(--white-color);
}

// body,
// .form-control,
// .form-select,
// .form-select option,
// .btn,
// .input-group-text,
// .dropdown-item {
//   font-weight: 300;
// }

a {
  text-decoration: none;
  color: #000;
  outline: none;
  cursor: pointer;
}

.form-label {
  font-size: 0.85rem;
}

/*Scrollbar chrome*/
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: rgba(78, 78, 78, 0.05);
}

::-webkit-scrollbar-thumb {
  background: #bbb;
}

::-webkit-scrollbar-thumb:hover {
  background: #999;
}

.cursor-pointer {
  cursor: pointer;
}

fieldset.scheduler {
  border: solid 1px #ddd !important;
  padding: 0 15px 15px 15px;
  border-bottom: none;
  border-radius: 0.75rem;

  legend {
    width: auto !important;
    border: none;
    font-size: 0.8rem;
    margin-top: -15px;
    background: #fff;
    padding: 5px 7px;
  }
}

.table {
  font-size: 0.9rem;

  .bx {
    cursor: pointer;
    user-select: none;
    font-size: 1.3rem;
  }

  & > :not(:first-child) {
    border-top: 0;
  }
}

.bx {
  vertical-align: middle;
}

.btn .bx {
  vertical-align: -1px;
}

.form-switch .form-check-input {
  cursor: pointer;
}

.btn-close:focus {
  box-shadow: none;
}

// tabs
.nav-tabs.nav-tabs-simple {
  margin-bottom: 15px;
}
.nav-tabs.nav-tabs-simple > .nav-item > .nav-link,
.nav-tabs.nav-tabs-simple > .nav-item > .nav-link:focus {
  margin-right: 0;
  background-color: transparent;
  border: none;
  color: #666666;
  transition: all 0.2s;
}
.nav-tabs.nav-tabs-simple > .nav-item > .nav-link:hover,
.nav-tabs.nav-tabs-simple > .nav-item > .nav-link:focus:hover {
  background-color: transparent;
  box-shadow: inset 0 -2px 0 $blue;
  color: $blue;
}
.nav-tabs.nav-tabs-simple > .nav-item > .nav-link.active,
.nav-tabs.nav-tabs-simple > .nav-item > .nav-link.active:focus {
  border: none;
  box-shadow: inset 0 -2px 0 $blue;
  color: $blue;
}
.nav-tabs.nav-tabs-simple > .nav-item > .nav-link.active:hover,
.nav-tabs.nav-tabs-simple > .nav-item > .nav-link.active:focus:hover {
  border: none;
  color: $blue;
}
.nav-tabs.nav-tabs-simple > .nav-item.disabled > .nav-link {
  box-shadow: inset 0 -1px 0 #dddddd;
}

// Pagination
.navigation {
  text-align: center;
  justify-content: center;

  .nav-links {
    position: relative;
    padding: 0.5rem;
    font-size: 0;
    // margin: 0 4rem 1rem;
    white-space: nowrap;
  }

  .nav-links,
  .nav-links a,
  .nav-links span {
    background-color: var(--bs-primary);
    display: inline-block;
    vertical-align: top;
    border-radius: 5rem;
  }
  .nav-links a {
    cursor: pointer;
  }

  .nav-links a,
  .nav-links span {
    font-size: 1rem;
    width: 2.5rem;
    height: 2.5rem;
    margin: 0.2rem;
    line-height: 2rem;
    font-weight: 700;
    padding: 0.3rem;
    color: #fff;
  }

  .nav-links .current,
  .page-link:hover {
    background-color: rgba(0, 0, 0, 0.3);
    color: #fff;
  }
  .page-link {
    border: 0;
  }
  .nav-links .prev,
  .nav-links .next {
    position: absolute;
    top: 0;
    width: 3.5rem;
    height: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 1.5rem;
  }
  .nav-links .prev:hover,
  .nav-links .next:hover {
    color: #fff;
  }
  .nav-links .prev {
    left: -4.3rem;
  }
  .nav-links .next {
    right: -4.3rem;
  }

  .nav-links .page-link {
    display: none;
  }
  .nav-links .page-link.current,
  .nav-links .extend + .page-link {
    display: inline-block;
  }
  .nav-links .extend {
    font-size: 0;
    margin-right: 0;
  }
  .nav-links .extend:before {
    content: "de";
    font-size: 1rem;
  }
}

.card {
  box-shadow: 0 0.5rem 0.75rem rgb(0 0 0 / 7%);

  &,
  .card-header {
    border: none;
  }
}

.table {
  .options {
    visibility: hidden;
    white-space: nowrap;
  }

  tr:hover .options {
    visibility: inherit;
  }
}

.title {
  font-weight: 300;
  margin-bottom: 1.2rem;
}

.input-group.is-invalid {
  .form-select,
  .form-control,
  .input-group-text,
  .btn {
    border-color: var(--bs-danger) !important;
  }
  .input-group-text {
    color: var(--bs-danger) !important;
  }
}
