.page-loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--bs-gray-100);
  background-image: linear-gradient(330deg, var(--bs-gray-200), var(--bs-gray-100));
  transition: background-color ease 2s 1s;
  z-index: 1040;
}

.loader-dual-ring {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.loader-dual-ring {
  display: inline-block;
  width: 64px;
  height: 64px;
}

.loader-dual-ring:after {
  content: " ";
  display: block;
  width: 3rem;
  height: 3rem;
  margin: 1px;
  border-radius: 50%;
  border: 0.3rem solid var(--bs-primary);
  border-color: var(--bs-primary) transparent var(--bs-primary) transparent;
  animation: loader-dual-ring 1.1s ease infinite;
}

@keyframes loader-dual-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.loading {
  position: relative;
  pointer-events: none;
}
.loading > * {
  opacity: 0.3;
}
.loading::before {
  font-family: boxicons !important;
  content: "\eda9";
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 2rem;
  margin: 0 0 0 -1rem;
  animation: spin linear 1s infinite;
  color: var(--bs-primary);
  line-height: 0;
  z-index: 10;
  opacity: 1;
}
