<div class="modal fade" tabindex="-1" aria-hidden="true" data-bs-backdrop="static">
  <div class="modal-dialog modal-sm">
    <form class="modal-content" [formGroup]="form">
      <div class="modal-header">
        <h5 class="modal-title">Presentación del producto</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="mb-2">
          <label class="form-label">Cantidad</label>
          <input type="text" class="form-control" formControlName="Cantidad"
            [class.is-invalid]="form.get('Cantidad').touched && form.get('Cantidad').errors">
        </div>
        <div class="mb-2">
          <label class="form-label">Presentación</label>
          <select class="form-select" formControlName="IdUnidadMedida">
            <option *ngFor="let item of units" [value]="item.IdUnidadMedida">
              {{item.UnidadMedida}}
            </option>
          </select>
        </div>
        <div class="mb-2">
          <label class="form-label">Costo por presentación</label>
          <input type="text" class="form-control" formControlName="Costo"
            [class.is-invalid]="form.get('Costo').touched && form.get('Costo').errors">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary rounded-pill" data-bs-dismiss="modal">Salir</button>
        <button type="submit" class="btn btn-primary rounded-pill px-3" [disabled]="form.invalid" (click)="send()">
          Aceptar
        </button>
      </div>
    </form>
  </div>
</div>