<div class="main">
  <div class="row justify-content-between align-items-center" [formGroup]="form">
    <h4 class="col-md-auto title mb-0">Resumen de operaciones</h4>
    <div class="col-md-4">
      <div class="row g-2 justify-content-end">
        <div class="col-md-7">
          <div class="input-group" [class.is-invalid]="form.get('month').errors">
            <input type="text" class="form-control border-end-0" bsDatepicker formControlName="month"
              [bsConfig]="{ containerClass: 'theme-dark-blue', showWeekNumbers: false, dateInputFormat: 'MMMM YYYY' }"
              (onShown)="onOpenCalendar($event)">
            <div class="input-group-text bg-white border-start-0">
              <i class="bx bx-calendar"></i>
            </div>
          </div>

          <!-- <div class="row g-1 justify-content-end">
            <div class="col-md mb-2 mb-md-0">
              <div class="input-group" [class.is-invalid]="form.get('date_start').errors">
                <input type="text" class="form-control border-end-0" bsDatepicker formControlName="date_start"
                  [bsConfig]="{ containerClass: 'theme-dark-blue', showWeekNumbers: false, dateInputFormat: 'DD/MM/YYYY' }">
                <div class="input-group-text bg-white border-start-0">
                  <i class="bx bx-calendar"></i>
                </div>
              </div>
            </div>
            <div class="col-md mb-2 mb-md-0">
              <div class="input-group" [class.is-invalid]="form.get('date_end').errors">
                <input type="text" class="form-control border-end-0" bsDatepicker formControlName="date_end"
                  [bsConfig]="{ containerClass: 'theme-dark-blue', showWeekNumbers: false, dateInputFormat: 'DD/MM/YYYY' }">
                <div class="input-group-text bg-white border-start-0">
                  <i class="bx bx-calendar"></i>
                </div>
              </div>
            </div>
          </div>

          <div class="text-center" *ngIf="form.get('date_start').errors?.rangeMax">
            <small class="text-danger">Las fechas deben tener un máximo de 3 meses</small>
          </div> -->

        </div>

        <div class="col-md">
          <button type="button" class="btn btn-outline-primary w-100" [disabled]="form.invalid" (click)="search()">
            <i class="bx bx-search-alt"></i> Buscar
          </button>
        </div>
      </div>
    </div>

  </div>

  <div class="row sparkboxes mt-4 mb-4 align-items-stretch">
    <div class="col-md-4">
      <div class="card card-body h-100 box-sales">
        <apx-chart #salesChart [series]="salesOptions.series" [chart]="salesOptions.chart" [yaxis]="salesOptions.yaxis"
          [xaxis]="salesOptions.xaxis" [colors]="salesOptions.colors" [fill]="salesOptions.fill"
          [stroke]="salesOptions.stroke" [title]="salesOptions.title" [subtitle]="salesOptions.subtitle">
        </apx-chart>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card card-body h-100 box-buys">
        <apx-chart #shoppingChart [series]="shoppingOptions.series" [chart]="shoppingOptions.chart"
          [yaxis]="shoppingOptions.yaxis" [xaxis]="shoppingOptions.xaxis" [colors]="shoppingOptions.colors"
          [fill]="shoppingOptions.fill" [stroke]="shoppingOptions.stroke" [title]="shoppingOptions.title"
          [subtitle]="shoppingOptions.subtitle">
        </apx-chart>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card card-body h-100 box-sales">
        <apx-chart #utilitiesChart [series]="utilitiesOptions.series" [chart]="utilitiesOptions.chart"
          [yaxis]="utilitiesOptions.yaxis" [xaxis]="utilitiesOptions.xaxis" [colors]="utilitiesOptions.colors"
          [fill]="utilitiesOptions.fill" [stroke]="utilitiesOptions.stroke" [title]="utilitiesOptions.title"
          [subtitle]="utilitiesOptions.subtitle">
        </apx-chart>
      </div>
    </div>
  </div>

  <div class="row mt-5 mb-4 align-items-stretch">
    <div class="col-md-6">
      <div class="card card-body h-100 box-sales-by-time">
        <apx-chart #barChart [series]="barOptions.series" [chart]="barOptions.chart" [yaxis]="barOptions.yaxis"
          [xaxis]="barOptions.xaxis" [fill]="barOptions.fill" [dataLabels]="barOptions.dataLabels"
          [colors]="barOptions.colors" [plotOptions]="barOptions.plotOptions" [labels]="barOptions.labels"
          [title]="barOptions.title">
        </apx-chart>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card card-body h-100 box-sales-by-category">       
        <apx-chart #donutChart [series]="donutOptions.series" [chart]="donutOptions.chart"
          [colors]="donutOptions.colors" [dataLabels]="donutOptions.dataLabels" [plotOptions]="donutOptions.plotOptions"
          [labels]="donutOptions.labels" [title]="donutOptions.title" [legend]="donutOptions.legend"
          [theme]="donutOptions.theme" [yaxis]="donutOptions.yaxis">
        </apx-chart>
      </div>
    </div>
  </div>
</div>