.right-side {
  .btn {    
    line-height: 1.2;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 1.5rem;

    span {
      text-align: center;
      flex: 1;
    }
  }
}

.bills {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5px;

  .amount {
    padding: 2px 10px;
    margin: 0 0 5px 0;
    cursor: pointer;
    user-select: none;
    border: 1px solid #ddd;
    border-radius: 0.75rem;
    transition: all linear 0.1s;

    &:active {
      transform: scale(0.8);
    }
  }
}

input.form-control,
.form-control-plaintext {
  text-align: right;
}
