<div class="col-sm-12 order-1 order-md-0">
    <div class="card mb-3">
      <div class="card-header">
        <h5 class="card-title mb-3">
          <i class="bx bx-folder bx-sm"></i> Matriz de Seguimiento: Registrar
        </h5>
      </div>
      <div class="card-body">
        <div class="my-3" style="z-index: 9">
          <div class="form-check form-check-inline me-4">
            <label class="form-check-label" for="rb_1">Año:</label>
          </div>
          <div class="form-check form-check-inline">
            <select class="form-select" aria-label="Default select example">
                <option selected>Seleccione el año</option>
                <option value="1">2022</option>
                <option value="2">2021</option>
                <option value="3">2020</option>
              </select>
          </div>
        </div>
      </div>
    </div>

    

    <div class="card card-body mb-3">  
        <div class="row">
            <div class="col-3">
                <div class="container">
                    <div class="row">
                    <div class="col-5">                     
                      <div data-progress="tip" class="progress__outer" data-value="0.5">
                        <div class="progress__inner">50%</div>
                      </div>
                    </div>
                    <div class="col">
                        <h5 class="card-title">Programacion de Metas Físicas</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Trimestre I</h6>
                        <a class="card-link">Programado: 10</a><br>
                        <a class="card-link">Ejecutado: 5</a>
                    </div>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="container">
                    <div class="row">
                    <div class="col-5">                     
                      <div data-progress="tip" class="progress__outer" data-value="0.7">
                        <div class="progress__inner">70%</div>
                      </div>
                    </div>
                    <div class="col">
                        <h5 class="card-title">Programacion de Metas Físicas</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Trimestre II</h6>
                        <a class="card-link">Programado: 10</a><br>
                        <a class="card-link">Ejecutado: 5</a>
                    </div>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="container">
                    <div class="row">
                    <div class="col-5">                     
                      <div data-progress="tip" class="progress__outer" data-value="0.8">
                        <div class="progress__inner">80%</div>
                      </div>
                    </div>
                    <div class="col">
                        <h5 class="card-title">Programacion de Metas Físicas</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Trimestre III</h6>
                        <a class="card-link">Programado: 10</a><br>
                        <a class="card-link">Ejecutado: 5</a>
                    </div>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="container">
                    <div class="row">
                    <div class="col-5">                        
                      <div data-progress="tip" class="progress__outer" data-value="0.2">
                        <div class="progress__inner">20%</div>
                      </div>
                    </div>
                    <div class="col">
                        <h5 class="card-title">Programacion de Metas Físicas</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Trimestre IV</h6>
                        <a class="card-link">Programado: 10</a><br>
                        <a class="card-link">Ejecutado: 5</a>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <ng-template #empty>
          <div class="py-5 text-center">No se han encontrado resultados</div>
        </ng-template>





    <div class="card card-body mb-3">
        <ng-container>
          <div class="table-responsive">
            <table class="table align-middle">
              <tr>
                <th scope="col" class="text-center">Tarea</th>
                <th scope="col" class="text-center">Estado</th>
                <th scope="col" class="text-center">Motivo</th>
                <th scope="col" class="text-center">Opciones</th>
              </tr>
              <tr>
                <th scope="row">Formulación y aprobación del Decreto Supremo que aprueba la Comisión Nacional Multisectorial para el abordaje determinantes sociales de la Salud en el marco del MCI, en el contexto de RIS</th>
                <td class="text-center"><p class="bg-primary text-white">Procesado</p></td>
                <td class="text-center"></td>
                <td class="text-center">
                  <div class="options">
                      <i class="bx bx-file me-1" (click)="options(1)"></i>
                    <i class="bx bx-pencil me-1" (click)="options(2)"></i>
                    <i class="bx bx-trash-alt me-1" (click)="options(3)"></i>
                  </div>
                </td>
              </tr>
              <tr>
                <th scope="row">Formulación y aprobación del Decreto Supremo que aprueba la Comisión Nacional Multisectorial para el abordaje determinantes sociales de la Salud en el marco del MCI, en el contexto de RIS</th>
                <td class="text-center"><p class="bg-danger text-white">Rechazado</p></td>
                <td class="text-center">Archivo de evidencia incorrecto</td>
                <td class="text-center">
                  <div class="options">
                      <i class="bx bx-file me-1" (click)="options(1)"></i>
                    <i class="bx bx-pencil me-1" (click)="options(2)"></i>
                    <i class="bx bx-trash-alt me-1" (click)="options(3)"></i>
                  </div>
                </td>
              </tr>
              <tr>
                <th scope="row">Formulación y aprobación del Decreto Supremo que aprueba la Comisión Nacional Multisectorial para el abordaje determinantes sociales de la Salud en el marco del MCI, en el contexto de RIS</th>
                <td class="text-center"><p class="bg-secondary text-white">Por Procesar</p></td>
                <td class="text-center"></td>
                <td class="text-center">
                  <div class="options">
                      <i class="bx bx-file me-1" (click)="options(1)"></i>
                    <i class="bx bx-pencil me-1" (click)="options(2)"></i>
                    <i class="bx bx-trash-alt me-1" (click)="options(3)"></i>
                  </div>
                </td>
              </tr>
            </table>
          </div>


          
      <div class="card-body">
        <div class="card card-body mb-3">  
            <div class="row">
                <div class="col-10"></div>
                <div class="col-1">
                    <div style="margin-top: 30px">
                      <button type="button" class="btn btn-secondary rounded-pill">
                        <i class="bx bx-eraser"></i> Cancelar
                      </button>
                    </div>
                </div>
                <div class="col-1">
                    <div style="margin-top: 30px">
                      <button type="submit" class="btn btn-primary rounded-pill">
                        <i class="bx bx-save"></i> Guardar
                      </button>
                    </div>
                </div>
            </div>
        </div>
      </div>

      <input type="file" (change)="onFileChange($event)" multiple="false" />
      <table class="sjs-table">
        <tbody>
          <tr *ngFor="let row of data">
          <td *ngFor="let val of row">
            {{val}}
          </td>
        </tr>
        </tbody>
      </table>

        </ng-container>



        <ng-template #empty>
          <div class="py-5 text-center">No se han encontrado resultados</div>
        </ng-template>
      </div>



  </div>
  