<div class="container">
  <div class="row">
    <div class="col">
      <h4 class="title d-flex align-items-center justify-content-between">
        Registro de contacto

        <div class="btn-group">
          <button type="button" class="btn btn-primary" (click)="reset()">
            <i class="bx bx-file"></i> Nuevo
          </button>
          <button type="button" class="btn btn-primary active" (click)="save()" [disabled]="form.invalid">
            <i class="bx bx-save"></i> Guardar
          </button>
        </div>
      </h4>

      <div class="row mb-3">
        <div class="col-md-3">
          <div class="nav border-primary flex-column nav-pills" role="tablist" aria-orientation="vertical">
            <a class="nav-link shadow mb-2 py-3 px-4 rounded-pill active" data-bs-toggle="tab" data-bs-target="#tab-1"
              role="tab" aria-selected="true">
              <i class="bx bx-user-pin bx-sm"></i> Datos generales
            </a>
            <a class="nav-link shadow py-3 px-4 rounded-pill" data-bs-toggle="tab" data-bs-target="#tab-2" role="tab"
              aria-selected="true" (click)="getSales()">
              <i class="bx bx-notepad bx-sm"></i> Resumen de movimientos
            </a>
          </div>
        </div>
        <div class="col-md">
          <div class="tab-content">
            <div class="tab-pane fade show active" id="tab-1" role="tabpanel">
              <form [formGroup]="form" [class.loading]="isLoading">

                <div class="card card-body mb-3">
                  <div class="row g-2 mb-3">
                    <div class="col-md-3">
                      <label class="form-label">Tipo de documento</label>
                      <select class="form-select" formControlName="IdTipoDocumento">
                        <option [value]="1">DNI</option>
                        <option [value]="2">RUC</option>
                        <option [value]="3">Carnet extranjería</option>
                      </select>
                    </div>
                    <div class="col-md-3">
                      <label class="form-label">N° documento</label>
                      <div class="input-group">
                        <input type="text" class="form-control" formControlName="NroDocumento">
                        <button type="button" class="btn btn-secondary" *ngIf="form.get('IdTipoDocumento').value == 2"
                          (click)="getData()">
                          <i class="bx bx-search-alt"></i>
                        </button>
                      </div>
                    </div>
                    <div class="col-md">
                      <label class="form-label">Nombre o Razón social</label>
                      <input type="text" class="form-control text-uppercase" formControlName="RazonSocial"
                        [class.is-invalid]="form.get('RazonSocial').touched && form.get('RazonSocial').errors">
                    </div>
                  </div>
                  <div class="row g-2 mb-3">
                    <div class="col-md">
                      <label class="form-label">Dirección fiscal</label>
                      <input type="text" class="form-control" formControlName="Direccion">
                    </div>
                    <div class="col-md-4">
                      <label class="form-label">Email</label>
                      <input type="text" class="form-control text-lowercase" formControlName="Email"
                        [class.is-invalid]="form.get('Email').touched && form.get('Email').errors">
                    </div>
                    <div class="col-md-3">
                      <label class="form-label">Celular</label>
                      <input type="text" class="form-control" formControlName="Celular">
                    </div>
                  </div>
                </div>

                <div class="card card-body mb-3">
                  <div class="mb-3">
                    <label class="form-label">Anotaciones</label>
                    <textarea rows="4" class="form-control" formControlName="Observaciones"></textarea>
                  </div>
                  <h6>Configuración</h6>
                  <div class="mb-3 d-flex flex-row">
                    <div class="form-check form-check-inline form-switch">
                      <input class="form-check-input" type="checkbox" id="cbClient" formControlName="FlagCliente">
                      <label class="form-check-label" for="cbClient">Es cliente</label>
                    </div>
                    <div class="form-check form-check-inline form-switch">
                      <input class="form-check-input" type="checkbox" id="cbProvider" formControlName="FlagProveedor">
                      <label class="form-check-label" for="cbProvider">Es proveedor</label>
                    </div>
                    <div class="form-check form-check-inline form-switch ms-auto">
                      <input class="form-check-input" type="checkbox" id="cbActive" formControlName="FlagActivo">
                      <label class="form-check-label" for="cbActive">Activo</label>
                    </div>
                  </div>
                </div>

              </form>
            </div>
            <div class="tab-pane fade" id="tab-2" role="tabpanel">
              <div class="card card-body">
                <h5 class="mb-4">Últimas ventas</h5>
                <div class="table-responsive">
                  <table class="table align-middle">
                    <thead>
                      <tr>
                        <th class="col-1">Pedido</th>
                        <th class="col-1">Fecha y Hora</th>
                        <th class="col-2 text-center">Forma pago</th>
                        <th class="col-1 text-center">Moneda</th>
                        <th class="col-auto text-center">Total</th>
                        <th class="col-auto text-center">Estado</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of sales | paginator: salesController">
                        <td>
                          <a class="btn btn-link btn-sm" [routerLink]="['/ventas/registro', item.IdPedido]">
                            {{item.IdPedido | padleft:7}}
                          </a>
                        </td>
                        <td class="text-nowrap">
                          {{item.Fecha | date: 'dd/MM/yyyy HH:mm'}}
                        </td>
                        <td class="text-center">
                          {{item.FormaPago}}
                        </td>
                        <td class="text-center">
                          {{item.Moneda}}
                        </td>
                        <td class="text-center">
                          {{item.TotalAjuste | number:'0.2-2'}}
                        </td>
                        <td class="text-center">
                          {{item.Estado}}
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <p class="text-center my-5" *ngIf="!sales.length">No hay registros para mostrar</p>
                </div>
                <app-paginator [total]="sales.length" [size]="10" (pagination)="salesController = $event">
                </app-paginator>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>