.section-header {
  font-weight: 300;
  margin-top: 1.5rem;
}
.card {
  overflow: hidden;
}
.main-content {
  padding: 30px 30px 50px;
}
.secondary-section {
  background-color: #f6f0fa;
  padding: 25px 25px 50px;
}

.item-image {
  margin: 0 auto;
  width: 100%;
  height: 380px;
  background: url(/assets/empty_tag.svg);
  border: 2px dashed #bcc9d8;
  background-position: center 35%;
  background-repeat: no-repeat;
  position: relative;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 1rem;
  border-radius: 1rem;

  .hint {
    color: #bac5d5;
    position: absolute;
    margin: 0 auto;
    bottom: 20%;
    text-align: center;
    width: 100%;
  }

  &.loaded {
    background-color: #fff;
    background-image: none;
  }

  img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }
}

.bg-error {
  background-color: rgba(255, 0, 0, 0.1);
}
