<h4 class="title d-flex justify-content-between align-items-center">
  Inventario valorizado
</h4>

<div class="card card-body mb-3" [class.loading]="isLoading">
  <ng-container *ngIf="products.length; else empty">
    <div class="table-responsive">
      <table class="table align-middle">
        <thead>
          <tr>
            <th class="col-1 text-center">Código</th>
            <th>Producto</th>
            <th class="col-1 text-center">Stock</th>
            <th class="col-1 text-center">Unidad medida</th>
            <th class="col-1 text-end">Costo prom.</th>
            <th class="col-1 text-end">Total</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let item of products | paginator: paginationController">
            <tr>
              <td class="text-center">{{item.IdProducto | padleft: 7}}</td>
              <td>{{item.Producto}}</td>
              <td class="text-center">{{item.Stock}}</td>
              <td class="text-center">{{item.IdUnidadMedida}}</td>
              <td class="text-end">{{item.Moneda}} {{item.Costo | number:'0.2-2'}}</td>
              <td class="text-end">{{item.Moneda}} {{item.Total | number:'0.2-2'}}</td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
    <app-paginator [total]="products.length" [size]="10" (pagination)="paginationChange($event)">
    </app-paginator>
  </ng-container>
  <ng-template #empty>
    <div class="py-5 text-center">
      <i class="bx bx-lg bx-search-alt"></i>
      <div>No se han encontrado resultados</div>
    </div>
  </ng-template>
</div>