<div class="container">
  <div class="row">
    <div class="col">
      <h4 class="title mb-4">Personal</h4>
      <div class="card card-body">
        <div class="mb-4">
          <div class="row">
            <div class="col">
              <input type="text" class="form-control" placeholder="Buscar..." [formControl]="keywords"
                (keyup.enter)="search()">
            </div>
            <div class="col-auto">
              <button class="btn btn-primary rounded-pill" (click)="add()">
                <i class="bx bx-plus-circle"></i> Agregar
              </button>
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Empresa</th>
                <th class="text-center">Tipo Doc.</th>
                <th class="text-center">N° Doc.</th>
                <th>Personal</th>
                <th class="text-center">Género</th>
                <th class="text-center">Activo</th>
                <th class="col-1"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of users; let i = index">
                <td>{{user.Empresa}}</td>
                <td class="text-center">{{user.TipoDocumento}}</td>
                <td class="text-center">{{user.NroDocumento}}</td>
                <td>{{user.Nombres}} {{user.ApePaterno}} {{user.ApeMaterno}}</td>
                <td class="text-center">{{user.Genero}}</td>
                <td class="text-center">{{user.FlagActivo | yesno}}</td>
                <td class="text-center">
                  <div class="options">
                    <i class="bx bx-pencil me-1" (click)="edit(user)"></i>
                    <i class="bx bx-trash-alt" (click)="remove(user, i)"></i>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>