.results {
  position: relative;
  min-height: 200px;
}

.opacity {
  opacity: 0.2;
}

.shelf-header {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  height: 58px;
  background: #ffff;
  border: 0;
  border-radius: 5px;
  margin: 1rem 0;
  padding: 0 1rem;

  .title-wrapper {
    font-weight: 400;
  }

  .shelf-actions {
    .bx {
      font-size: 2rem;
      color: #999;
      cursor: pointer;
      transition: 0.2s;

      &:hover {
        transform: scale(1.1);
        color: var(--bs-primary);
      }
    }
  }

  .title-wrapper,
  .shelf-actions {
    display: flex;
    align-items: center;
  }
}

.loading-control {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 99;
}

.product {
  display: flex;
  position: relative;
  height: 100%;
  flex-direction: column;
  padding: 1.2rem 0.75rem;
  border-radius: 0.5rem;
  border: 1px solid #eee;
  background: #fff;
  color: #000;
  cursor: pointer;
  transition: 0.3s;

  .image {
    height: 200px;
    text-align: center;

    img {
      max-height: 100%;
      max-width: 100%;
    }
  }

  .name {
    font-size: 1rem;
    font-weight: 700;
    margin: 0.5rem 0;
    line-height: 1.2;
    height: 2.2rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  .category {
    color: #888;
    font-size: 0.85rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 1rem;
  }

  .price {
    color: var(--bs-primary);
    font-weight: 800;
    font-size: 1.2rem;
  }

  .badge {
    font-size: 0.9rem;
    font-weight: 400;
  }

  .options {
    margin: 1rem 0 0 0;
    text-align: center;
  }

  &:hover {
    transform: scale(1.05);
    z-index: 5;
    box-shadow: 0 0 20px #ddd;
  }
}

@media (max-width: 480px) {
  .input-group {
    flex-direction: column;

    .form-control,
    .form-select,
    .btn-group > .btn,
    & > :not(:first-child) {
      width: 100%;
      border-radius: 0.75rem !important;
      margin-bottom: 0.5rem;
    }
  }
}
