<div class="container">
  <div class="row">
    <div class="col">

      <form class="card card-body border-0 shadow-sm" [formGroup]="form" (ngSubmit)="submit()">
        <label class="form-label"><i class="bx bx-filter-alt"></i> Filtrar</label>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Buscar..." formControlName="keywords">
          <select class="form-select" formControlName="category">
            <option *ngFor="let item of categories" [value]="item.IdCategoria">{{item.Detalle}}</option>
          </select>
          <div class="btn-group">
            <button type="button" class="btn border rounded-0 dropdown-toggle" data-bs-toggle="dropdown"
              aria-expanded="false">
              <i class="bx bx-sort-a-z"></i> {{sortText || 'Ordenar por'}}
            </button>
            <ul class="dropdown-menu dropdown-menu-end">
              <li *ngFor="let item of sort">
                <a class="dropdown-item" (click)="form.get('sort').setValue(item.value)">
                  {{item.text}}
                </a>
              </li>
            </ul>
          </div>
          <button type="button" class="btn border" (click)="reset()">
            <i class="bx bx-eraser"></i>
          </button>
        </div>        
      </form>

      <div class="shelf-header" *ngIf="pagination.total">
        <div class="title-wrapper">
          <i class="bx bx-search me-2"></i> Resultados: {{pagination.total | number: '0.0-0'}}
        </div>
        <div class="shelf-actions" *ngIf="pagination.total_pages > 1">
          <i class="bx bxs-chevron-left-circle" (click)="previousPage()" title="Página anterior"></i>
          <i class="bx bxs-chevron-right-circle" (click)="nextPage()" title="Página siguiente"></i>
        </div>
      </div>

      <div class="results" [class.loading]="isLoading">
        <div class="row g-2 my-3">
          <div class="col-lg-3 col-md-4" *ngFor="let product of products">
            <a class="product mb-2" [routerLink]="['/inventario/registro', product.IdProducto]">
              <div class="image">
                <img [src]="product.image" alt="" (error)="errorImage($event)">
              </div>
              <div class="name">{{product.Nombre}}</div>
              <div class="category">{{product.Categoria}}</div>
              <div class="my-2 row g-1 justify-content-xl-between justify-content-center align-items-center">
                <div class="col-auto">
                  <span class="price">S/ {{product.Precio | number: '0.2-2'}}</span>
                  <span class="ms-2">{{product.IdUnidadMedida}}</span>
                </div>
                <div class="col-auto">
                  <ng-container *ngIf="product.FlagStock">
                    <span class="badge bg-white text-dark shadow-sm d-flex align-items-center" data-bs-toggle="tooltip"
                      data-bs-placement="top" title="Stock" *ngIf="product.Stock > 0; else sinStock">
                      {{product.Stock}} {{product.IdUnidadMedida}}
                    </span>
                    <ng-template #sinStock>
                      <span class="badge bg-danger">Sin stock</span>
                    </ng-template>
                  </ng-container>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>

      <nav class="navigation pagination my-5" *ngIf="pagination.total_pages > 1">
        <div class="nav-links">
          <a class="prev page-numbers" (click)="previousPage()">
            <i class="bx bx-left-arrow-alt"></i>
          </a>
          <!-- <a class="page-link">1</a> -->
          <a class="page-link current">{{pagination.page}}</a>
          <!-- <a class="page-link">3</a>
          <a class="page-link">4</a> -->
          <span class="extend">...</span>
          <a class="page-link" (click)="goToPage(pagination.total_pages)">{{pagination.total_pages}}</a>
          <a class="next page-numbers" (click)="nextPage()">
            <i class="bx bx-right-arrow-alt"></i>
          </a>
        </div>
      </nav>

    </div>
  </div>
</div>