
<div>
    <div>
        <h2>Importar Matríz de seguimiento</h2>
        <h5>Importa una nueva matriz de seguimiento desde un archivo de tipo excel con extensión (.xls)</h5>
    </div>
    <div>
        <div class="card mb-3">
            <div class="card-body" >
               


                <div fxFlex="100" class="padd_4" >
                    <div class="labelsColor">Adjuntar archivos</div>  
                    <!-- <file-upload [(ngModel)]="uploadedFiles" name="files" accept=".pdf" fileslimit="2" [animation]="animation"></file-upload> -->


                    <file-upload [control]="control"[animation]="animation">
                        <ng-template let-isFileDragDropAvailable="isFileDragDropAvailable" #placeholder>
                            <file-upload-drop-zone >
                                <ng-container *ngIf="isFileDragDropAvailable; else isNotDragDropAvailable">
                                  Agregar archivos , o dar click aquí.
                                </ng-container>
                                <ng-template #isNotDragDropAvailable>
                                </ng-template>
                            </file-upload-drop-zone>
                        </ng-template>
                
                        <ng-template let-i="index" let-file="file" let-control="control" #item>
                            <file-upload-list-item  [index]="i" [file]="file" [control]="control">Remover</file-upload-list-item>
                        </ng-template>
                    </file-upload>

                    <p *ngIf="uploadedFiles.length <= 0" class="text-file-valid">Mínimo un documento</p>
                    <p *ngIf="uploadedFiles.length > 0" class="text-file-valid">Máximo cinco(5) documentos</p>
                </div>


                <div *ngIf="data.length > 0">

                    <div class="card card-body mb-3">
                        <ng-container>
                          <div class="table-responsive">
                            <table class="table align-middle">
                              <col>
                              <colgroup span="2"></colgroup>
                              <colgroup span="2"></colgroup>
                              <tr>
                                <td rowspan="2"></td>
                                <th colspan="2" scope="colgroup" class="text-center">Trimestre I</th>
                                <th colspan="2" scope="colgroup" class="text-center">Trimestre II</th>
                                <th colspan="2" scope="colgroup" class="text-center">Trimestre III</th>
                                <th colspan="2" scope="colgroup" class="text-center">Trimestre IV</th>
                                <th scope="colgroup" class="text-center">Anual</th>
                                <th scope="colgroup" class="text-center">Opciones</th>
                              </tr>
                              <tr>
                                <th scope="col" class="text-center">Programado</th>
                                <th scope="col" class="text-center">Ejecutado</th>
                                <th scope="col" class="text-center">Programado</th>
                                <th scope="col" class="text-center">Ejecutado</th>
                                <th scope="col" class="text-center">Programado</th>
                                <th scope="col" class="text-center">Ejecutado</th>
                                <th scope="col" class="text-center">Programado</th>
                                <th scope="col" class="text-center">Ejecutado</th>
                                <th scope="col" class="text-center">%</th>
                                <th scope="col" class="text-center"></th>
                              </tr>
                              <tr *ngFor="let row of data; let i = index">
                                <td *ngFor="let val of row" contenteditable="true">
                                  {{val}}
                                </td>
                                <td class="text-center">
                                    <div class="options">
                                        <i class="bx bx-file me-1" (click)="options(1)"></i>
                                      <i class="bx bx-pencil me-1" (click)="options(2)"></i>
                                      <i class="bx bx-trash-alt me-1" (click)="options(3,i)"></i>
                                    </div>
                                  </td>
                              </tr>
                            </table>
                          </div>
                        </ng-container>
                        <ng-template #empty>
                          <div class="py-5 text-center">No se han encontrado resultados</div>
                        </ng-template>
                      </div>

                </div>


<hr>

<!-- <table class="sjs-table">
    <tbody>
      <tr *ngFor="let row of data">
      <td *ngFor="let val of row">
        {{val}}
      </td>
    </tr>
    </tbody>
  </table> -->


            </div>
          </div>
    </div>
</div>