<div class="col-sm-12 order-1 order-md-0">
    <div class="card mb-3">
      <div class="card-header row">
        <div class="col-md-4">
          <h5 class="card-title mb-3">
            <i class="bx bx-group bx-sm"></i> Lista de Usuarios
          </h5>
        </div>
       <div class="col-md-8" style="text-align: end;">
        <button
        type="submit"
        class="btn btn-primary rounded-pill"
        (click)="options(1)"
      >
        <i class="bx bx-search-alt"></i> Nuevo
      </button>
       </div>
       
      </div>
      <div class="card-body" [formGroup]="formSearch" (ngSubmit)="search()">
        <div class="my-3" style="z-index: 9">
          <div class="form-check form-check-inline me-4">
            <input
              class="form-check-input"
              type="radio"
              id="rb_1"
              name="option"
              [value]="1"
              formControlName="option"
            />
            <label class="form-check-label" for="rb_1">Búsqueda rápida</label>
          </div>
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="radio"
              id="rb_2"
              name="option"
              [value]="2"
              formControlName="option"
            />
            <label class="form-check-label" for="rb_2">Búsqueda avanzada</label>
          </div>
        </div>
        <ng-template [ngIf]="formSearch.get('option').value == 1">
          <div class="row">
            <div class="col-md-4">
              <label class="form-label">Filtrar por:</label>
              <select
                class="form-select"
                formControlName="quick"
                (change)="onChange($event)"
              >
                <option [value]="1">Unidad Orgánica</option>
                <option [value]="2">Nº de RIS</option>
              </select>
            </div>
            <div class="col-md-5">
              <label class="form-label">Ingrese {{ quick_label }}</label>
              <app-selector-lazy
                bindLabel="ris"
                bindValue="id_ris"
                [items]="esris"
                formControlName="ris"
                *ngIf="changeFilter"
              >
              </app-selector-lazy>
              <app-selector-lazy
                bindLabel="id_ris"
                bindValue="ris"
                [items]="esris"
                formControlName="ris"
                *ngIf="!changeFilter"
              >
              </app-selector-lazy>
            </div>
            <div class="col-md-3" style="margin-top: 30px">
              <button
                type="button"
                class="btn btn-secondary rounded-pill me-3"
                (click)="clean()"
              >
                <i class="bx bx-eraser"></i> Limpiar
              </button>
              <button
                type="submit"
                class="btn btn-primary rounded-pill"
                (click)="search()"
              >
                <i class="bx bx-search-alt"></i> Buscar
              </button>
            </div>
          </div>
        </ng-template>
        <ng-template [ngIf]="formSearch.get('option').value == 2">
          <div class="row">
            <div class="col-md-3">
              <label class="form-label">DNI</label>
              <input type="text" class="form-control" formControlName="dni">
            </div>
            <div class="col-md-3">
              <label class="form-label">Nombres</label>
              <input type="text" class="form-control" formControlName="nombres">
            </div>
            <div class="col-md-3">
              <label class="form-label">Apellido Paterno</label>
              <input type="text" class="form-control" formControlName="paterno">
            </div>
            <div class="col-md-3">
              <label class="form-label">Apellido Materno</label>
              <input type="text" class="form-control" formControlName="materno">
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <label class="form-label">Género</label>
              <select class="form-select" formControlName="genero">
                <option [value]="1">Hombre</option>
                <option [value]="2">Mujer</option>
              </select>
            </div>
            <div class="col-md-3">
              <label class="form-label">Edad</label>
              <input type="text" class="form-control" formControlName="edad">
            </div>
            <div class="col-md-3" style="margin-top: 30px">
              <button
                type="button"
                class="btn btn-secondary rounded-pill me-3"
                (click)="clean()"
              >
                <i class="bx bx-eraser"></i> Limpiar
              </button>
              <button
                type="submit"
                class="btn btn-primary rounded-pill"
                (click)="search()"
              >
                <i class="bx bx-search-alt"></i> Buscar
              </button>
            </div>
          </div>
        </ng-template>
      </div>
    </div>
    <div class="card card-body mb-3" [class.loading]="isLoading">
      <ng-container *ngIf="users.length; else empty">
        <div class="table-responsive">
          <table class="table align-middle">
            <thead>
              <tr>
                <th class="col-1 text-center">Dirección General</th>
                <th class="text-center">Unidad Orgánica</th>
                <th class="text-center">Nombres y Apellidos</th>
                <th class="col-1 text-center">DNI</th>
                <th class="text-center">Cargo</th>
                <th class="text-center">Condición Laboral</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <ng-container
                *ngFor="let item of users | paginator: paginationController"
              >
                <tr>
                  <td class="text-center">{{ item.direccionGeneral }}</td>
                  <td class="text-center">{{ item.UnOrganica }}</td>
                  <td class="text-center">{{ item.NomApe }}</td>
                  <td class="text-center">{{ item.dni }}</td>
                  <td class="text-center">{{ item.cargo }}</td>
                  <td class="text-center">{{ item.condLaboral }}</td>
                  <td>
                    <div class="options">
                      <i class="bx bx-pencil me-1" (click)="options(1,item)"></i>
                      <i class="bx bx-trash-alt me-1" (click)="options(2)"></i>
                    </div>
                  </td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </div>
        <app-paginator
          [total]="users.length"
          [size]="10"
          (pagination)="paginationChange($event)"
        >
        </app-paginator>
      </ng-container>
      <ng-template #empty>
        <div class="py-5 text-center">No se han encontrado resultados</div>
      </ng-template>
    </div>
    <!-- <div class="card card-body mb-3" *ngIf="orders.length">
        <iframe [src]="urlSafe" width="100%" height="500px" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
    </div>-->
  </div>
  
