<div *ngIf="rol === 'registrador'">
  <app-registrar-metas-fisicas></app-registrar-metas-fisicas>
</div>

<div *ngIf="rol === 'visor'">
  <app-visor-metas-fisicas></app-visor-metas-fisicas>
</div>


<div *ngIf="rol === 'supervisor'">
  <app-supervisar-metas-fisicas></app-supervisar-metas-fisicas>
</div>


