<header class="header" [class.sb-open]="toggle" clickOut (outside)="searchOpen = false" >
  <div class="header_left">
    <div class="header_toggle" (click)="toggleActive()">
      <i class='bx bx-menu'></i>
    </div>
  </div>
  <div class="header_right" *ngIf="user">
    <div class="header_avatar">
      <a class="dropdown-toggle" data-bs-toggle="dropdown">
        <i class="bx bx-user bx-sm"></i>
       <span class="mx-1">{{user.username}}</span>
      </a>
      <ul class="dropdown-menu dropdown-menu-end">
        <li><a class="dropdown-item">Inicio</a></li>
        <div class="dropdown-divider"></div>
        <li><a class="dropdown-item" (click)="signOut()">Cerrar sesión</a></li>
      </ul>
    </div>
  </div>
</header>