<div class="container" [formGroup]="form">
  <div class="row">
    <div class="col">
      <!-- <h4 class="title">Registro de venta</h4> -->
      <!-- Cabecera del pedido -->
      <div class="row g-2 align-items-stretch">
        <div class="col-md order-0 order-md-1">
          <div class="card h-100">
            <div class="card-header bg-primary text-white text-center py-3">
              <h4 class="m-0">NOTA DE VENTA</h4>
            </div>
            <div class="card-body d-flex flex-column">
              <h3 class=" d-flex flex-fill align-items-center justify-content-center">
                {{form.get('IdPedido').value? (form.get('IdPedido').value | padleft: 7): 'N/A' }}
              </h3>
            </div>
            <div class="card-footer text-center" *ngIf="form.get('Estado').value">
              <strong class="h6">{{form.get('Estado').value}}</strong>
            </div>
          </div>
        </div>
        <div class="col-md-9 order-1 order-md-0">
          <div class="card">
            <div class="card-header">
              <h5 class="card-title mb-3"><i class="bx bx-cart-alt bx-sm"></i> Registro de venta</h5>
              <ul class="nav nav-tabs card-header-tabs" role="tablist">
                <li class="nav-item" role="presentation">
                  <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#tab-general" type="button"
                    role="tab" aria-selected="true">Datos generales</button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-extra" type="button" role="tab"
                    aria-selected="false">Más información</button>
                </li>
              </ul>
            </div>
            <fieldset class="card-body" [disabled]="form.get('IdEstado').value > 1">
              <div class="tab-content">
                <div class="tab-pane fade show active" id="tab-general" role="tabpanel">

                  <div class="row g-2 justify-content-between">
                    <div class="col-md-3 mb-3">
                      <label class="form-label">Moneda</label>
                      <select class="form-select" formControlName="IdMoneda">
                        <option value="PEN">Soles (S/)</option>
                        <!-- <option value="USD">Dólares (USD)</option> -->
                      </select>
                    </div>
                    <div class="col-md-3 mb-3">
                      <label class="form-label">Pago</label>
                      <select class="form-select" formControlName="IdFormaPago">
                        <option [value]="1">Contado</option>
                        <option [value]="2">Crédito</option>
                      </select>
                    </div>
                    <div class="col-md-3 mb-3">
                      <label class="form-label">Fecha de pago</label>
                      <div class="input-group">
                        <input type="text" class="form-control border-end-0" bsDatepicker formControlName="FechaPago"
                          [bsConfig]="{ containerClass: 'theme-dark-blue', showWeekNumbers: false, dateInputFormat: 'DD/MM/YYYY' }">
                        <div class="input-group-text bg-white border-start-0">
                          <i class="bx bx-calendar"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row g-2">
                    <div class="col-md-3 mb-3 mb-md-0">
                      <label class="form-label">Documento cliente</label>
                      <div class="input-group border rounded">
                        <div class="input-group-text bg-white border-0" *ngIf="form.get('ClienteTipoDocumento').value">
                          {{form.get('ClienteTipoDocumento').value}}
                        </div>
                        <input type="text" class="form-control border-0" formControlName="ClienteNroDocumento">
                        <button type="button" class="btn border border-0" (click)="addClient()"
                          *ngIf="form.get('IdEstado').value < 2">
                          <i class="bx bx-search-alt"></i>
                        </button>
                      </div>
                    </div>
                    <div class="col-md-4 mb-3 mb-md-0">
                      <label class="form-label">Razón social</label>
                      <input type="text" class="form-control" formControlName="RazonSocial">
                    </div>
                    <div class="col-md mb-3 mb-md-0">
                      <label class="form-label">Dirección fiscal</label>
                      <input type="text" class="form-control" formControlName="ClienteDireccion">
                    </div>
                  </div>

                </div>
                <div class="tab-pane fade" id="tab-extra" role="tabpanel">
                  <h5 class="mb-3">Información del registro</h5>
                  <div class="row align-items-center mb-2">
                    <div class="col-md-2">
                      <i class="bx bx-calendar-alt"></i> Fecha de registro
                    </div>
                    <div class="col-md-auto">
                      <ng-container *ngIf="form.get('FechaRegistro').value; else nodate">
                        {{form.get('FechaRegistro').value | date:'dd/MM/yyyy HH:mm'}}
                      </ng-container>
                      <ng-template #nodate>N/A</ng-template>
                    </div>
                  </div>
                  <div class="row align-items-center mb-2">
                    <div class="col-md-2">
                      <i class="bx bx-user"></i> Responsable
                    </div>
                    <div class="col-md-auto">
                      {{form.get('PersonalRegistro').value || 'N/A'}}
                    </div>
                  </div>
                </div>
              </div>
            </fieldset>

          </div>

        </div>
      </div>

      <!-- Cuerpo del pedido -->
      <div class="row g-2 align-items-stretch mt-2">
        <div class="col-md-9">
          <div class="card card-body h-100">
            <div class="row g-2 mb-3" [formGroup]="formSearch" *ngIf="form.get('IdEstado').value < 2">
              <div class="col-auto">
                <select class="form-select form-select-lg rounded-pill" formControlName="IdAlmacen">
                  <option *ngFor="let item of warehouses" [value]="item.IdAlmacen">
                    {{item.Detalle}}
                  </option>
                </select>
              </div>
              <div class="col">
                <div class="input-icon" [class.open]="searchOpen" clickOut (outside)="searchOpen = false">
                  <i class="bx bx-barcode-reader bx-sm"></i>
                  <input type="text" class="form-control form-control-lg rounded-pill" formControlName="keywords"
                    (keyup.enter)="productSearch()" (keyup.f2)="searchOpen = true">
                  <i class="bx bx-search-alt bx-sm icon-search" (click)="searchOpen = true"></i>

                  <app-products-search [almacenId]="almacenId" [keywords]="textSearch"
                    (selected)="selectProduct($event)" (close)="searchOpen = false" *ngIf="searchOpen">
                  </app-products-search>
                </div>
              </div>
            </div>

            <div class="table-responsive" formArrayName="PedidoDetalle" *ngIf="products.controls.length; else empty">
              <table class="table align-middle">
                <thead>
                  <tr>
                    <th></th>
                    <th>Producto</th>
                    <th class="text-center col-2">Cantidad</th>
                    <th class="text-center">Unidad</th>
                    <th class="text-center col-2">Precio</th>
                    <th class="text-end">Importe</th>
                    <th *ngIf="form.get('IdEstado').value < 2"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of products.controls; let i = index" [formGroupName]="i">
                    <td class="image">
                      <img [src]="item.get('Imagen').value" (error)="errorImage($event)" alt="">
                    </td>
                    <td>
                      <div>
                        <a target="_blank" [routerLink]="['/inventario/registro', item.get('IdProducto').value]">
                          {{item.get('Producto').value}}
                        </a>
                      </div>
                      <small class="text-muted">{{item.get('Categoria').value}}</small>
                    </td>
                    <td class="text-center">
                      <div class="qty" *ngIf="form.get('IdEstado').value < 2; else tmplQty">

                        <input type="text" class="form-control rounded-pill text-center" formControlName="Cantidad"
                          [class.is-invalid]="item.get('Cantidad').errors">

                        <i class="icon-weight bx bx-layer" title="Obtener peso" *ngIf="getWeight(item); else spins"></i>

                        <ng-template #spins>
                          <i class="icon-plus bx bx-plus-circle" title="Incrementar" (click)="incrementQty(item)"></i>
                          <i class="icon-minus bx bx-minus-circle" title="Disminuir" (click)="decrementQty(item)"></i>
                        </ng-template>

                      </div>
                      <small class="text-danger" *ngIf="item.get('Cantidad').errors?.inventory">
                        <ng-container *ngIf="item.get('Stock').value; else zeroStock">
                          Disponible: {{item.get('Stock').value}} {{item.get('IdUnidadMedida').value}}
                        </ng-container>
                        <ng-template #zeroStock>Agotado</ng-template>
                      </small>

                      <ng-template #tmplQty>
                        <span>{{item.get('Cantidad').value | number:'0.0-3'}}</span>
                      </ng-template>
                    </td>
                    <td class="text-center">
                      <div class="form-control-plaintext">{{item.get('IdUnidadMedida').value}}</div>
                    </td>
                    <td class="text-center">
                      <ng-container *ngIf="form.get('IdEstado').value < 2; else tmplPrice">
                        <input type="text" class="form-control rounded-pill text-end" formControlName="Precio"
                          [class.is-invalid]="item.get('Precio').errors">
                      </ng-container>
                      <ng-template #tmplPrice>
                        <span>{{item.get('Precio').value | number:'0.2-2'}}</span>
                      </ng-template>
                    </td>
                    <td class="text-end">
                      <div class="form-control-plaintext">{{(item.get('Importe').value || 0) | number:'0.2-2'}}</div>
                    </td>
                    <td class="text-end" *ngIf="form.get('IdEstado').value < 2">
                      <i class="bx bx-trash-alt" title="Eliminar" (click)="removeItem(item, i)"></i>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>

            <ng-template #empty>
              <div class="flex-grow-1 d-flex flex-column align-items-center justify-content-center py-3">
                <i class="bx bx-basket bx-lg"></i>
                No hay productos agregados
              </div>
            </ng-template>

          </div>

        </div>
        <div class="col-md">
          <div class="card card-body resume">
            <h5 class="text-primary d-flex justify-content-between align-items-center mb-3">
              Resumen <i class="bx bx-notepad"></i>
            </h5>
            <div class="row g-1">
              <div class="col">Op. gravadas</div>
              <div class="col-auto">{{(form.get('TotalBruto').value || 0) | number:'0.2-2'}}</div>
            </div>
            <div class="row g-1">
              <div class="col">IGV</div>
              <div class="col-auto">{{(form.get('TotalImpuesto').value || 0) | number:'0.2-2'}}</div>
            </div>
            <div class="row g-1" *ngIf="form.get('TotalInafecto').value">
              <div class="col">Op. inafectas</div>
              <div class="col-auto">{{(form.get('TotalInafecto').value || 0) | number:'0.2-2'}}</div>
            </div>
            <div class="row g-1" *ngIf="form.get('TotalExonerado').value">
              <div class="col">Op. exoneradas</div>
              <div class="col-auto">{{(form.get('TotalExonerado').value || 0) | number:'0.2-2'}}</div>
            </div>
            <div class="row g-1">
              <div class="col">Total venta</div>
              <div class="col-auto">{{(form.get('TotalVenta').value || 0) | number:'0.2-2'}}</div>
            </div>
            <div class="row g-1">
              <div class="col">
                <div class="form-check form-switch">
                  <input class="form-check-input" type="checkbox" id="cbAjustes" formControlName="FlagAjustes">
                  <label class="form-check-label" for="cbAjustes">Ajustes</label>
                </div>
              </div>
              <div class="col-auto">{{(form.get('MontoAjuste').value || 0) | number:'0.2-2'}}</div>
            </div>
            <div class="row g-1 h4 bolder">
              <div class="col">TOTAL</div>
              <div class="col-auto">S/ {{(form.get('TotalAjuste').value || 0) | number:'0.2-2'}}</div>
            </div>

          </div>
        </div>
      </div>

      <!-- Opciones -->
      <div class="card-options shadow">
        <div class="row">
          <div class="col-md-auto text-center mb-3 mb-md-0">
            <div class="btn-group rounded" role="group">
              <button type="button" class="btn btn-primary" (click)="clear()">
                <i class="bx bx-detail"></i> Nuevo
              </button>
              <div class="btn-group" role="group" *ngIf="form.get('IdPedido').value">
                <button type="button" class="btn btn-primary active dropdown-toggle" data-bs-toggle="dropdown"
                  aria-expanded="false">
                </button>
                <ul class="dropdown-menu shadow">
                  <ng-container *ngIf="form.get('IdEstado').value < 3">
                    <li><button type="button" class="dropdown-item">Emitir comprobante</button></li>
                    <li class="dropdown-divider"></li>
                    <li><button type="button" class="dropdown-item" (click)="invalidation()">Anular venta</button></li>
                  </ng-container>
                  <ng-container *ngIf="form.get('IdEstado').value == 2">
                    <li class="dropdown-divider"></li>
                    <li>
                      <button type="button" class="dropdown-item" (click)="devolutions()">Devoluciones
                      </button>
                    </li>
                  </ng-container>
                  <li>
                    <button type="button" class="dropdown-item" (click)="payments()">
                      Movimientos de caja
                    </button>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md">
            <div class="row justify-content-center justify-content-md-end g-2">
              <div class="col-auto" *ngIf="form.get('IdPedido').value">
                <button type="button" class="btn btn-outline-primary rounded-pill" (click)="printer()"
                  [disabled]="form.invalid">
                  <i class="bx bx-printer"></i> Imprimir ticket
                </button>
              </div>
              <div class="col-auto" *ngIf="form.get('IdEstado').value < 2">
                <button type="button" class="btn btn-outline-primary rounded-pill" (click)="save()"
                  [disabled]="form.invalid">
                  <i class="bx bx-archive-in"></i> Guardar pedido
                </button>
              </div>
              <div class="col-auto">
                <button type="button" class="btn btn-primary rounded-pill" (click)="attend()"
                  [disabled]="isLoadingAttend || form.invalid">
                  <i class="bx" [ngClass]="isLoadingAttend? 'bx-spin bx-loader-alt': 'bx-check'"></i>
                  {{form.get('IdEstado').value <= 1? 'Atender pedido' : 'Registrar pagos' }} </button>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="sticky" *ngIf="sticky">
  <i class="bx bx-check-circle bx-sm"></i> <span>Se agregó el producto <strong>{{sticky.Nombre}}</strong></span>
</div>

<!-- <div class="position-fixed bottom-0 p-3" style="z-index: 99" *ngIf="sticky">
  <div class="toast show" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">        
      <strong class="me-auto">Agregado</strong>
      <small>Hace un momento</small>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
      Se agregó el producto <strong>{{sticky?.Nombre}}</strong>
    </div>
  </div>
</div> -->