.box-icon {
	display: flex;
	// flex-direction: column;
	align-items: center;
	cursor: pointer;
	user-select: none;
	padding: 0.3rem 1.2rem;
	border-radius: 1.5rem;
	transition: 0.3s;
	// color: var(--first-color);
	background-color: rgba($color: #000000, $alpha: 0.03);

	&:hover {
		background-color: rgba($color: #4723d9, $alpha: 0.1);
	}

	.bx {
		font-size: 1.5rem;
		margin-right: 0.25rem;
	}

	.subtitle {
		font-size: 1em;
	}
}

.card-resume {
	font-weight: 300;

	// .title-secondary {
	// 	color: var(--bs-primary);
	// }

	h1 {
		font-weight: 900;
		font-size: 2.5rem;
		margin: 0;
		color: var(--bs-primary);

		small {
			font-size: 0.4em;
		}
	}

	img {
		max-width: 100%;
		max-height: 150px;
	}
}

// #chart {
// 	height: 300px;
// }

.table {
	tr td {
		border-bottom: none;
	}
}

apx-chart::ng-deep {
	.apexcharts-canvas {
		&,
		svg {
			width: 100% !important;
		}
	}
}

.carousel-indicators {
	margin-bottom: 0;

	[data-bs-target] {
		background-color: var(--bs-primary);
	}
}
