<div class="modal fade" tabindex="-1" aria-hidden="true" data-bs-backdrop="static">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Movimientos de caja</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="table-responsive" *ngIf="movements.length; else empty">
          <table class="table align-middle">
            <thead>
              <tr>
                <th></th>
                <th class="text-center col-2">Fecha y hora</th>
                <th class="text-center">N° Movimiento</th>
                <th class="text-center">Concepto</th>
                <th class="text-center">Caja</th>
                <th class="text-center">Moneda</th>
                <th class="text-center">Importe</th>
                <th class="text-center">Observaciones</th>
                <th class="text-center">Responsable</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of movements">
                <td class="text-center">
                  <i class="bx"
                    [ngClass]="item.TipoMovimiento == 'E'? 'bx-right-arrow-circle text-success': 'bx-left-arrow-circle text-danger'"></i>
                </td>
                <td class="text-center">
                  {{item.FechaOperacion | date:'dd/MM/yyyy HH:mm'}}
                </td>
                <td class="text-center">
                  {{item.IdMovimiento | padleft: 9}}
                </td>
                <td class="text-center">
                  {{item.NombreConcepto}}
                </td>
                <td class="text-center">
                  {{item.NombreCaja}}
                </td>
                <td class="text-center">
                  {{item.SimboloMoneda}}
                </td>
                <td class="text-center">
                  {{item.Importe | number: '0.2-2'}}
                </td>
                <td class="text-center">
                  {{item.Observaciones || 'Ninguna'}}
                </td>
                <td class="text-center">
                  {{item.NombrePersonalOperacion}}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <ng-template #empty>
          <div class="text-center">No hay movimientos registrados</div>
        </ng-template>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Salir</button>
      </div>
    </div>
  </div>
</div>