<div class="container" [formGroup]="form">
  <div class="row">
    <div class="col" [class.loading]="isLoading">

      <div class="d-flex justify-content-between align-items-center mb-4">
        <h4 class="title mb-0">Registro de pago</h4>
        <div class="btn-group">
          <button type="button" class="btn btn-primary" (click)="save()" *ngIf="form.get('IdEstado').value == 1">
            <i class="bx bx-save"></i> Guardar
          </button>
          <div class="btn-group" role="group">
            <button type="button" class="btn btn-primary active dropdown-toggle" data-bs-toggle="dropdown">
              Opciones
            </button>
            <div class="dropdown-menu dropdown-menu-end">
              <button type="button" class="dropdown-item" (click)="newRegister()">Nuevo</button>
              <ng-container *ngIf="form.get('IdPago').value">
                <div class="dropdown-divider"></div>
                <ng-container *ngIf="form.get('IdEstado').value == 1">
                  <button type="button" class="dropdown-item" (click)="cancel()">Anular</button>
                  <button type="button" class="dropdown-item" (click)="pay()">Pagar</button>
                </ng-container>
                <button type="button" class="dropdown-item" (click)="movements()">Movimientos</button>
              </ng-container>
            </div>
          </div>
        </div>
      </div>

      <fieldset [disabled]="form.get('IdEstado').value > 1">
        <div class="card card-body">
          <div class="row">
            <div class="col-md-2 mb-3">
              <label class="form-label">N° Pago</label>
              <input type="text" class="form-control" formControlName="IdPago">
            </div>
            <div class="col-md-4 mb-3">
              <label class="form-label">Proveedor</label>
              <div class="input-group"
                [class.is-invalid]="form.get('IdPropietario').touched && form.get('IdPropietario').errors">
                <input type="text" class="form-control border-end-0" formControlName="NombrePropietario">
                <button type="button" class="btn border" (click)="customerSearch()">
                  <i class="bx bx-search-alt"></i>
                </button>
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <label class="form-label">Motivo</label>
              <input type="text" class="form-control" formControlName="Motivo"
                [class.is-invalid]="form.get('Motivo').touched && form.get('Motivo').errors">
            </div>
          </div>
          <div class="row">
            <div class="col-md-3 mb-3">
              <label class="form-label">Tipo documento</label>
              <select class="form-select" formControlName="TipoDocumento">
                <option value="FAC">Factura</option>
                <option value="BOL">Boleta</option>
                <option value="REC">Recibo</option>
              </select>
            </div>
            <div class="col-md-3 mb-3">
              <label class="form-label">N° documento</label>
              <input type="text" class="form-control" formControlName="NroDocumento">
            </div>
            <div class="col-md-3 mb-3">
              <label class="form-label">Fecha vencimiento</label>
              <div class="input-group"
                [class.is-invalid]="form.get('FechaVencimiento').touched && form.get('FechaVencimiento').errors">
                <input type="text" class="form-control border-end-0" bsDatepicker formControlName="FechaVencimiento"
                  [bsConfig]="{ containerClass: 'theme-dark-blue', showWeekNumbers: false, dateInputFormat: 'DD/MM/YYYY' }">
                <div class="input-group-text bg-white border-start-0">
                  <i class="bx bx-calendar"></i>
                </div>
              </div>
            </div>
            <div class="col-md-3 mb-3">
              <label class="form-label">Fecha pago</label>
              <div class="input-group">
                <input type="text" class="form-control border-end-0" bsDatepicker formControlName="FechaPago"
                  [bsConfig]="{ containerClass: 'theme-dark-blue', showWeekNumbers: false, dateInputFormat: 'DD/MM/YYYY' }">
                <div class="input-group-text bg-white border-start-0">
                  <i class="bx bx-calendar"></i>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3 mb-3">
              <label class="form-label">Monto a pagar</label>
              <div class="input-group"
                [class.is-invalid]="form.get('ImportePorPagar').touched && form.get('ImportePorPagar').errors">
                <select class="form-select col-1" formControlName="IdMoneda">
                  <option value="PEN">S/</option>
                  <!-- <option value="USD">USD</option> -->
                </select>
                <input type="text" class="form-control" formControlName="ImportePorPagar">
              </div>
            </div>
            <div class="col-md-3 mb-3">
              <label class="form-label">Monto pagado</label>
              <div class="input-group">
                <select class="form-select col-1" formControlName="IdMoneda">
                  <option value="PEN">S/</option>
                  <!-- <option value="USD">USD</option> -->
                </select>
                <input type="text" class="form-control" formControlName="ImportePagado">
              </div>
            </div>
            <div class="col-md-auto ms-auto mb-3 align-self-end" *ngIf="form.get('IdPago').value">
              <div class="form-control form-control-plaintext px-4" [ngClass]="{                
              'text-muted': form.get('IdEstado').value == 1,  
              'text-success': form.get('IdEstado').value == 2,
              'text-danger': form.get('IdEstado').value == 3
              }">
                <div [ngSwitch]="form.get('IdEstado').value">
                  <span *ngSwitchCase="1">PENDIENTE</span>
                  <span *ngSwitchCase="2">PAGADO</span>
                  <span *ngSwitchCase="3">ANULADO</span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="card card-body my-3">
          <label class="form-label">Notas referentes al registro</label>
          <textarea class="form-control" rows="5" formControlName="Observaciones"></textarea>
        </div>
      </fieldset>

    </div>
  </div>
</div>