.results-container {
	position: absolute;
	top: 100%;
	left: 0;
	width: 900px;
	max-height: calc(100vh - 100px);
	min-height: 280px;
	background: #fff;
	margin-top: 1rem;
	border-radius: 0.5rem;
	font-size: 0.9rem;
	z-index: 999;
	display: flex;
	flex-direction: column;

	&::before {
		content: "";
		position: absolute;
		top: 1px;
		left: 30px;
		transform: translateY(-100%);
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 0 10px 10px 10px;
		border-color: transparent transparent #ffffff transparent;
	}

	&.alone {
		width: 450px;

		.product {
			width: 100%;
		}
	}
}

.results {
	display: flex;
	flex-wrap: wrap;
	position: relative;
	width: 100%;
	flex: 1;

	&.opacity {
		opacity: 0.2;
	}
}

.__loading {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	color: var(--bs-primary);
}
.product {
	display: flex;
	padding: 1rem 0.75rem;
	cursor: pointer;
	border-top: 1px solid #eee;
	width: 50%;
	color: #000;

	&:nth-child(-n + 2) {
		border-top: none;
	}

	.image {
		width: 110px;
		height: 110px;
		text-align: center;
		position: relative;

		img {
			max-width: 100%;
			max-height: 100%;
		}

		&.img-loading img {
			display: none;
		}

		&.img-loading::after {
			content: "\eda8";
			font-family: boxicons !important;
			font-size: 3rem;
			animation: spin 1.5s infinite linear;
			color: #eee;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			position: absolute;
			z-index: 5;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
		}
	}

	.content {
		flex: 1;
		padding-left: 1rem;
	}

	.name {
		font-size: 0.95em;
		margin-bottom: 5px;
	}

	.price {
		color: var(--first-color);
		font-weight: 700;
		font-size: 1rem;
	}

	.options {
		margin-top: 0.7rem;
		color: #555;
	}
	
	.badge {
		font-size: 0.85rem;
		font-weight: 400;
	}
}

.btn-group.disabled .btn {
	pointer-events: none;
	cursor: not-allowed;
}

@media screen and (max-width: 768px) {
	.results-container {
		width: calc(100vw - 75px);
		left: -50px;

		&::before {
			content: none;
		}
	}

	.product {
		width: 100%;
	}
}
