<div class="modal fade" tabindex="-1" aria-hidden="true" data-bs-backdrop="static">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{title}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {{message}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary rounded-pill" (click)="confirm(false)">
          {{cancelText || 'Salir'}}
        </button>
        <button type="submit" class="btn btn-primary rounded-pill px-3" (click)="confirm(true)">
          {{confirmText || 'Aceptar'}}
        </button>
      </div>
    </div>
  </div>
</div>