<div class="row">
    <div class="col-12">
      <iframe class="iframe-full" src="https://georis.maps.arcgis.com/apps/instant/lookup/index.html?appid=77ff0e3a6b87415290a61551fbf21229"></iframe>
    </div>
  </div>