<div class="modal fade" tabindex="-1" aria-hidden="true" data-bs-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Transferir Stock</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" [formGroup]="form">
        <h5>{{product.Producto}}</h5>
        <hr>        
        <div class="row mb-3">
          <div class="col-md-6">
            <label class="form-label">Almacén origen</label>
            <select class="form-select" formControlName="IdSource">
              <option *ngFor="let item of whSource" [value]="item.IdAlmacen">
                {{item.Detalle}}
              </option>
            </select>
          </div>
          <div class="col-md-6">
            <label class="form-label">Almacén destino</label>
            <select class="form-select" formControlName="IdTarget">
              <option *ngFor="let item of whTarget" [value]="item.IdAlmacen">
                {{item.Detalle}}
              </option>
            </select>
          </div>
        </div>
        <h6>Transferencia</h6>
        <div class="mb-3">
          <label class="form-label">Unidad de transferencia</label>
          <select class="form-select" formControlName="IdUnidadMedida">
            <option *ngFor="let item of units" [value]="item.IdUnidadMedida">
              {{item.UnidadMedida}}
            </option>
          </select>
        </div>
        <div class="row">
          <div class="col-md-6">
            <label class="form-label">Stock actual</label>
            <div class="row g-1">
              <div class="input-group">
                <input type="text" class="form-control" formControlName="Stock">
                <div class="input-group-text" *ngIf="form.get('IdUnidadMedida').value">
                  {{form.get('IdUnidadMedida').value}}
                </div>
              </div>
            </div>
          </div>
          <div class="col-md">
            <label class="form-label">Cantidad a transferir</label>
            <div class="input-group">
              <input type="text" class="form-control" formControlName="Quantity"
                [class.is-invalid]="form.get('Quantity').errors">
              <div class="input-group-text" *ngIf="form.get('IdUnidadMedida').value">
                {{form.get('IdUnidadMedida').value}}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary rounded-pill" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary rounded-pill px-3" [disabled]="form.invalid" (click)="transfer()">
          Aceptar
        </button>
      </div>
    </div>
  </div>
</div>