<div class="row">
    <div class="col-12">
      <iframe class="iframe-full" src="https://georis.maps.arcgis.com/apps/instant/lookup/index.html?appid=006c3322edbc4e4d8c6e3e3dbe78c4c2"></iframe>
    </div>
  </div>